<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
    <div fxFlex="33.33" fxLayout="column" fxLayoutAlign="space-between">
        <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name">
        </mat-form-field>
    </div>
    <div fxFlex="33.33" fxLayout="column" fxLayoutAlign="space-between">
        <mat-form-field class="example-full-width">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name">
        </mat-form-field>
    </div>
    <div fxFlex="33.33" fxLayout="column" fxLayoutAlign="space-between">
        <mat-form-field class="example-full-width">
            <mat-label>Middle Name</mat-label>
            <input matInput placeholder="Middle Name">
        </mat-form-field>
    </div>
</div>

<div fxLayout="column" fxLayoutAlign>
    <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Ex. Pizza">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Barangay</mat-label>
        <input matInput placeholder="Ex. Pizza">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <mat-select placeholder="Department">
            <mat-option>None</mat-option>
            <mat-option value="1">San Pedro</mat-option>
            <mat-option value="2">Biñan</mat-option>
            <mat-option value="3">Sta. Rosa</mat-option>
          </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Province</mat-label>
        <mat-select placeholder="Department">
            <mat-option>None</mat-option>
            <mat-option value="1">Laguna</mat-option>
            <mat-option value="2">Quezon</mat-option>
            <mat-option value="3">NCR</mat-option>
          </mat-select>
    </mat-form-field>
</div>


<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">

        <app-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-lg="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
            <div fxLayout="column">
                <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza">
                </mat-form-field>
            </div>
        </app-card>

        <app-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-lg="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
            <div fxLayout="column">
                <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza">
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza">
                </mat-form-field>
            </div>
        </app-card>
</div>

<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">

    <app-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        <div fxLayout="column">
            <mat-form-field class="example-full-width">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza">
            </mat-form-field>
        </div>
    </app-card>

    <app-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        <div fxLayout="column">
            <mat-form-field class="example-full-width">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza">
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza">
            </mat-form-field>
        </div>
    </app-card>

    <app-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        <div fxLayout="column">
            <mat-form-field class="example-full-width">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza">
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <mat-label>Favorite food</mat-label>
                <input matInput placeholder="Ex. Pizza">
            </mat-form-field>
        </div>
    </app-card>
</div>